.header___nav{
    background-color: crimson;
    padding: 20px;
}
.header___nav a{
    margin-right: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.header___nav a:hover{
    color: aqua;
    background-color: cornflowerblue;
  
}
.logout__btn{
    border: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;

}